*{
    margin:0;
    padding: 0px;
    font-weight: 500;
    font-size: 18px;
}

a{
  cursor: pointer;
}
body{
    min-width: 1220px;
    min-height: 900px;
    font-size: 18px;
    font-family: '微软雅黑';
    margin: 0;
    padding: 0;
    background:url(../img/ssq-bc2.jpg) no-repeat;
    background-size: 100% 100%;
}

.body{
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 1220px;
    border: 0px;
    margin-top: 15px;
}

.result-input{
    margin-left: 8px;
    width: 770px;
    height: 250px;
    float: left;
    margin-top: 10px;
    border: 1px solid darkorange;
}

div{
    border: 1px solid white;
}

.view-div-min{
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
}

.control-panel{
    width: 410px;
    margin-left: 20px;
    float: left;
    height: 250px;
    margin-top: 10px;
    border: 1px solid red;
}

.result-view{
    width: 1200px;
    margin-left: 8px;
    height: 520px;
    margin-top: 25px;
    float: left;
}

.panel-btn{
    width: 70px;
    height: 70px;
    float: left;
    cursor: pointer;
    margin-left: 3px;
    line-height: 70px;
    text-align: center;
}

.param-input{
    width: 80px;
    height: 35px;
}

input{
    text-align: center;
}

.bj-yhs{
    background-color: #ff6258;
    color: #FFFFFF;
}

.bj-zs{
    background-color: #CCCCFF;
}

.bj-qs{
    background-color: #ccff99;
}

.bj-qls{
    background-color: #99ccff;
}

.btn-title{
    width: 100%;
    height: 50px;
}

.yingkui_zhanshi{
    border: 1px solid black;
}

[name="daxiao_yingkui_zhanshi_da"]{
    display: none;
}

[name="daxiao_yingkui_zhanshi_xiao"]{
    display: none;
}

[name="danshuang_yingkui_zhanshi_dan"]{
    display: none;
}

[name="danshuang_yingkui_zhanshi_shuang"]{
    display: none;
}

[name="longhu_yingkui_zhanshi_long"]{
    display: none;
}

[name="longhu_yingkui_zhanshi_hu"]{
    display: none;
}
